body {
  font-family: "SF Pro Text", sans-serif;
  font-size: 17px;
  font-weight: 300;
  font-style: normal;
  line-height: 21px;
  color: #6e6e73;
  background-color: #F6F9FC;
}

h1 {
  /* font-family: "Roboto", sans-serif; */
  font-family: "SF Pro Display", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
}

h2 {
  font-size: 20px;
  font-weight: 600;
  color: #1d1d1f;
  padding: 20px;
  margin: 20px;
}

a {
  font-family: "SF Pro Text", sans-serif;
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
}

a:hover {
  color: black;
}

li {
  display: inline;
  padding: 10px;
}

#introduction {
  margin-bottom: 40px;
}

.txt-primary {
  color: #1d1d1f;
}

.container {
  width: 700px;
  margin: 40px auto;
}

.card {
  background-color: white;
  padding: 40px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  border-radius: 5px;
  margin: 20px 0px;
  text-align: center;
}

.img-circle {
  border-radius: 50%;
}

.shadowed {
  box-shadow: 5px 5px 3px rgba(0,0,0,.1);
}

.btn-primary {
  background-color: #6e6e73;
  color: white;
  opacity: 0.6;
  padding: 15px 20px;
  border-radius: 4px;
}

.btn-primary:hover {
  background-color: #6e6e73;
  color: white;
  opacity: 1;
  box-shadow: 2px 4px 16px rgba(0,0,0,.16);
  transform: scale3d(1.05,1.05,1.05);
  transition: normal;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0, 0, 0.5, 1);
  transition-delay: 0.1s;
  transition-property: all;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 10px;
}

.list-inline i {
  font-size: 50px;
  color: #6e6e73;
  line-height: 0;
}

.list-inline i:hover {
  color: #1d1d1f;
  box-shadow: 2px 4px 16px rgba(0,0,0,.16);
  transform: scale3d(1.05,1.05,1.05);
  transition: normal;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0, 0, 0.5, 1);
  transition-delay: 0.1s;
  transition-property: all;
}

/* MEDIA QUERIES */

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}